<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
.body-index {
	background-image: url('img/home-background.jpg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;  
  	background-size: cover;
}
h1 {
	padding: 5px;
	margin: 0;
}
h2 {
	padding: 10px;
	margin: 0;
}
p {
	margin: 0;
	padding: 2px;
}
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #F8F8F8;
  	border-radius: 12px;
}
li {
  	float: left;
}
li a {
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 11px 25px;
  	text-decoration: none;
}
li a:hover {
	background-color: #111;
  	color: white;
  	border: 2px black;
}
.active {
	background-color: #080808;
	color: white;
}
.container-main {
	left: 0;
	background: rgba(255,255,255, 0.7);
	min-width: 700px;
	margin-left: calc((100% - 700px) / 2);
	margin-right: calc((100% - 700px) / 2);
	padding: 20px;
	font-family: 'lato';
	font-size: 18px;
}
.container-navigator {
	top: 0;
	left: 0;
	position: relative;
	min-width: 940px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'lato';
	font-size: 14px;
	margin-left: calc((100% - 940px) / 2);
	margin-right: calc((100% - 940px) / 2);
}